.absolute.w-100p.top-0.z-9.min-h-8.bg-green-6
  .flex.flex-wrap.flex-main-start.h-100p.px-1.md_px-2
    input.hidden(type="checkbox" id="menu_checkbox")
    //- Title
    .flex-none.bold.white.text-6.flex.flex-main-start.flex.flex-center.h-8
      a(href=url.base) pixelastic
    //- Hamburger menu
    .flex-auto.flex.flex-main-end.flex-cross-center.md_hidden
      label#menu_button.fill-current.border.rounded.p-02.green-2.pointer.hover_white(for="menu_checkbox")
        svg.h-3.w-3(viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
          title Menu
          path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
    //- Menu
    #menu_content.flex-none.w-100p.hidden.md_flex.md_flex-auto.md_w-auto
     .flex-auto.flex.flex-col.white.text-4.md_flex-row.md_flex-main-end.md_flex-cross-center.pb-1.sm_pb-0
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href=`${url.pathToRoot}projects/`) Projects
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href=`${url.pathToRoot}talks/`) Talks
       // a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="./talks.html") Talks
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="http://blog.pixelastic.com") Blog
       a.px-02.py-01.md_p-02.md_mx-01.green-1.hover_white.hover_bg-green-8.rounded-3.fill-current.flex(href="https://github.com/pixelastic")
         include ./svg/github
       a.px-02.py-01.md_p-02.md_mx-01.green-1.hover_white.hover_bg-green-8.rounded-3.fill-current.flex(href="https://bsky.app/profile/pixelastic.bsky.social")
         .md_hidden.pr-01 Bluesky
         svg.h-4.w-4.hidden.md_block(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 530")
          title Bluesky
          path(d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z")
