.absolute.w-100p.top-0.z-9.min-h-8.bg-green-6
  .flrw.flral.h-100p.flc.px-1.md_px-2
    input.hidden(type="checkbox" id="menu_checkbox")
    //- Title
    .fln.bold.white.text-6.flral.flrnw.flc.h-8
      a(href=url.base) pixelastic
    //- Hamburger menu
    .fla.flrnw.flrar.md_hidden
      label#menu_button.fill-current.border.rounded.p-02.green-2.pointer.hover_white(for="menu_checkbox")
        svg.h-3.w-3(viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
          title Menu
          path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
    //- Menu
    #menu_content.fln.w-100p.hidden.md_flex.md_fla.md_w-auto
     .fla.flcnw.white.text-4.md_flrnw.md_flrar.md_flc.pb-1.sm_pb-0
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="./coaching.html") Coaching
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="./projects.html") Projects
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="http://talks.pixelastic.com/") Talks
       // a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="./talks.html") Talks
       a.px-02.py-01.md_px-1.green-1.hover_white.hover_bg-green-8.rounded-3(href="http://blog.pixelastic.com") Blog
       a.px-02.py-01.md_p-02.md_mx-01.green-1.hover_white.hover_bg-green-8.rounded-3.fill-current.flrnw(href="https://github.com/pixelastic")
         include /_includes/github_svg
       a.px-02.py-01.md_p-02.md_mx-01.green-1.hover_white.hover_bg-green-8.rounded-3.fill-current.flrnw(href="https://twitter.com/pixelastic")
         .md_hidden.pr-01 Twitter
         svg.h-4.w-4.hidden.md_block(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
           title Twitter
           path(d="M6.29 18.25c7.55 0 11.67-6.25 11.67-11.67v-.53c.8-.59 1.49-1.3 2.04-2.13-.75.33-1.54.55-2.36.65a4.12 4.12 0 0 0 1.8-2.27c-.8.48-1.68.81-2.6 1a4.1 4.1 0 0 0-7 3.74 11.65 11.65 0 0 1-8.45-4.3 4.1 4.1 0 0 0 1.27 5.49C2.01 8.2 1.37 8.03.8 7.7v.05a4.1 4.1 0 0 0 3.3 4.03 4.1 4.1 0 0 1-1.86.07 4.1 4.1 0 0 0 3.83 2.85A8.23 8.23 0 0 1 0 16.4a11.62 11.62 0 0 0 6.29 1.84")
