extends /_includes/_layouts/core

block config
  - pageDescription = "Playground to create my business cards"

block content
  .__cards.bg-white.h-100vh.fla
    .container.mx-auto.p-3

      .w-100p.h-19.bg-gray-8.flcnw.flc.mb-3
        .fln.flcnw
          .white.green-4.lh-1.bold.text-8 Tim Carry
          .white.text-4.opacity-90p.ml-03 Tech Public Speaking Coach
          .white.text-2.opacity-75p.ml-1.mt-2.ialic 07 81 27 34 67 - tim@pixelastic.com

      .w-100p.h-19.bg-gray-8.flcnw.flc
        .fln.flcnw.text-7
          .__toolip.__email.fln.flrnw
            .fln tim
            .fln @
            .__tooltp.__website.fln.flrnw
              .__toolip.__username.fln pixelastic
              .fln .com
