extends _includes/layout

block config
  - page.description = "Je forme votre équipe tech à la prise de parole en public."

block content
  //- Who am I?
  .container.mx-auto.relative.flrnw
    .w-50p.fln.flcnw.flc.p-4
      div
        h1.text-8 Tim Carry
        h2.text-5.italic Tech Public Speaking Coach
    .w-50p.fln
      img.w-100p(src="./images/dotcss2.jpg")

  //- What I do
  .bg-gray-8.gray-2
    .container.mx-auto.py-7.px-2
      .bold.text-5.white Je forme votre équipe tech à la prise de parole en public. 

      .mt-4.text-4 Préparer un talk prends du temps. Choisir un sujet, créer les slides, trouver une audience, répéter, ou encore gèrer son stress, j'accompagne vos équipes de bout en bout.
      
      .mt-4.text-4 Ma mission est de rendre les développeuses et développeurs autonomes pour partager leurs connaissances sur scène avec aisance et confiance en soi. 
    
  //- Unique skills
  .bg-gray-9.py-7
    .container.mx-auto.p-2
      .flrnw
        .fln.w-33p.p-4.flrnw.flc
          a.grayscale-1.hover_grayscale-0.block(href="https://www.algolia.com")
            img.max-h-12(src="./images/algolia.png")
        .fln.w-33p.p-4.flrnw.flc
          a.grayscale-1.hover_grayscale-0(href="https://www.meetup.com/HumanTalks-Paris/")
            img.max-h-12.rounded(src="./images/humantalks.png")
        .fln.w-33p.p-4.flrnw.flc
          a.grayscale-1.hover_grayscale-0(href="https://www.meetup.com/TechLunch/")
            img.max-h-12.rounded(src="./images/techlunch.png")

      .text-4.gray-4.py-5 Développeur, Speaker (Ex-Developer Advocate à Algolia) et Organisateur de Meetups (HumanTalks et TechLunch) mes compétences me donnent une expérience unique comme formateur:

      .flcnw.flc
        .text-4
          .fln.py-1
            span.bold.text-5 En tant que #[.inline.green développeur], 
            span je comprends les sujets tech et peut aider sur le fond.
          .fln.py-1
            span.bold.text-5 En tant que #[.inline.blue speaker], 
            span j'ai l'expérience des conférences et peut aider sur la forme.
          .fln.py-1
            span.bold.text-5 En tant qu'#[.inline.orange organisateur], 
            span je connais le milieu et peut aider à trouver la bonne audience.

  //- How it works
  .bg-gray-8.py-7
    .container.mx-auto.px-2
      .text-5.gray-4.text-center La formation dure #[.bold.inline.white 2 jours], pour un groupe de #[.bold.inline.white 4 à 6 personnes].
      
      .flrw.text-4.pt-7.pb-4
        .fln.w-50p.flrnw.flc
          .bg-gray-9.rounded-3.w-90p.p-2
            .bold.green-4 Méthodologies acquises
            ul.px-3.py-2
              li.bullet-tick.bullet-green Savoir identifier des sujets intéressants
              li.bullet-tick.bullet-green Organiser ses idées
              li.bullet-tick.bullet-green Créer des slides clairs
              li.bullet-tick.bullet-green Raconter une histoire engageante
        .fln.w-50p.flrnw.flc
          .bg-gray-9.rounded-3.w-90p.px-1.py-2
            .bold.blue-4 Ateliers pratiques
            ul.px-3.py-2
              li.bullet-arrow.bullet-blue-6 Trouver un sujet 
              li.bullet-arrow.bullet-blue-6 …et le soumettre à un meetup
              li.bullet-arrow.bullet-blue-6 Vaincre son stress sur scène
              li.bullet-arrow.bullet-blue-6 Gérer son débit et sa posture

      .text-3.gray-4.italic Une #[.bold.inline.white troisième journée] de suivi aura lieu après que chacun ai présenté son talk dans un meetup. Ce sera l'occasion de débriefer, répondre aux nouvelles questions et perfectionner le talk afin de le soumettre à une #[.bold.inline.white conférence nationale].



  .bg-gray-9.py-5
    .container.mx-auto.p-2
      .flrnw
        .fln.w-50p.flrnw.flc
          div
            h2.text-7 Tarifs
            .text-5.py-2
              .py-0
                .inline.bold.green 2 journées 
                span de formation
              .py-0
                span + 
                .inline.bold.green 1 journée 
                span de suivi
              .py-0
                span pour 
                .inline.bold.green 4 à 6 personnes
            .text-center.text-7.bold.orange 7500€ HT
        .fln.w-50p.flcnw.flc
          .fla.flcnw
            h2.text-7 Contact
            .fla.flrnw.mt-5
              a.text-8.bold.blue(href="mailto:tim@pixelastic.com") tim@pixelastic.com


