extends /_includes/layouts/core

block config
  - pageDescription = "Some sentences to better see the way I live"

block content
  p Don't attribute to malice what can be equally attributed to ignorance.

  p Be the reason why people have faith in mankind

  p Never trust someone that use the words "never" or "always". They are always wrong.

