//- ---
//- description: "Hi, I'm Tim Carry, aka. @pixelastic. I'm a developer, speaker, public speaking coach, hacker, player, and gamemaster."
//- --

block content
  .container.mx-auto.flrnw.flc.h-base-100vh.h-crop-8
    div.w-80p
      h1.text-7.md_text-8 Hi, I'm Tim Carry, aka. 
        a.green.bold(href="https://twitter.com/pixelastic") @pixelastic

      .lh-5.text-5.md_text-6.mt-4
        p I'm a 
          a.blue-5(href=link('projects')) developer
          |, 
          a.blue-6(href="http://talks.pixelastic.com") tech speaker
          |, 
          a.orange(href=link('coaching')) public speaking coach
          |, 
          a.blue-3(href="https://painting.pixelastic.com/") painter
          |, 
          a.teal(href="http://videogames.pixelastic.com") videogame player
          |, and 
          a.indigo(href="http://gamemaster.pixelastic.com") gamemaster. 
