extends _includes/layout

block config
 - page.description = "I'm a developer, speaker, public speaking coach, hacker, player, and gamemaster."

block content
  .container.mx-auto.min-h-80vh.flrnw.flc
    div.w-80p
      h1 Hi, I'm Tim Carry, aka. 
        a.green.bold(href="https://twitter.com/pixelastic") @pixelastic

      .lh-5.text-6.mt-4.gray-4
        p I'm a 
          a.blue-5.hover_underline(href="https://github.com/pixelastic") developer
          |, 
          a.blue-4.hover_underline(href="http://talks.pixelastic.com") speaker
          |, 
          a.orange.hover_underline(href="/coaching.html") public speaking coach
          |, 
          a.green.hover_underline(href="http://projects.pixelastic.com") hacker
          |, 
          a.teal.hover_underline(href="http://videogames.pixelastic.com") player
          |, and 
          a.indigo.hover_underline(href="http://roleplay.pixelastic.com") gamemaster. 
