//- ---
//- ---

block content
  .container.mx-auto.flex.items-center.justify-center.h-100vh
    .w-80p
      h1.text-7.md_text-8 Hi, I'm Tim Carry, aka. 
        a.green.bold.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href="https://twitter.com/pixelastic") @pixelastic

      .lh-5.text-5.md_text-6.mt-4
        p I'm a 
          a.blue-5.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href=link('projects')) developer
          |, 
          a.blue-6.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href=link('talks')) tech speaker
          |, 
          a.orange.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href=link('coaching')) public speaking coach
          |, 
          a.teal.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href="http://videogames.pixelastic.com") videogame player
          |, and 
          a.blue-3.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href="https://painting.pixelastic.com/") painter
          |, 
          a.indigo.underline.underline-transparent.hover_underline-current-color.transition-colors.duration-01(href="http://gamemaster.pixelastic.com") gamemaster. 
